// Variables
//

$imgSrc: 'assets/images/';

$activeColor: #ef3a28;
$accentColor: #3f808a;
$blackColor: #000000;
$whiteColor: #fff;
$greyColor: #2d3c4e;
$textGreyColor: #a5a5a5;
$semiGreyColor: #2a3848;
$colorLight: #fafafa;
$colorLightGrey: #ececec;
$darkTransparentColor: rgba($blackColor, .75);